:root {
 --neutral: hsl(0, 0%, 95%);
 --text-font-size: 13px;
 --header-font-size: 30px;
 --header-font-family: 'Big Shoulders Display', cursive;
 --orange: hsl(31, 77%, 52%);
 --dark-cyan: hsl(184, 100%, 22%);
 --very-dark-cyan: hsl(179, 100%, 13%);
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

body {
    margin: 220px auto;
    background-color: var(--neutral) ;
}
img {
    width: 60px;
    margin-bottom: 20px; 
}

p{
    font-size: var(--text-font-size);
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 20px;
    margin-bottom: 80px;

}
.container {
    width: 800px;
    margin: auto;
    padding: 0;
}

.header{
    font-family: var(--header-font-family);
    font-size: var(--header-font-size);
    text-transform: uppercase;
}
.btn {
    display:block;
    padding: 10px;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    border: var(--neutral) solid 2px;
    max-width: 140px;
    border-radius: 25px;
    transition: all 0.3s;
    mix-blend-mode: screen;
}



.btn:hover {
    border: var(--neutral) solid 2px;
    color: var(--neutral);
    background-color: transparent;
    
}

.card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 0;
    color: var(--neutral);
}

#sedan {
    background-color: var(--orange);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#suv {
background-color: var(--dark-cyan);
}

#luxury {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 576px) {
    body {
        margin: 50px auto;
    }
    .container {
        max-width: 300px;
    }
    .attribution {
        font-size: 13px;
    }
    #sedan {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    }

    #luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;

    }
}